* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    350deg,
    rgba(0, 0, 0, 0.774),
    rgba(0, 0, 0, 0.315)
  );
}

.calculadora {
  background-color: #a3a3a3;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-radius: 35px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.507);
  transition: 1s;
}

.calculadora:hover {
  background-color: #b8b8b8;
}

input {
  width: 100%;
  font-size: 1.2em;
  padding: 12px;
  text-align: right;
  border: 3px solid rgba(0, 0, 0, 0.6);
  border-bottom: 3px dashed rgba(0, 0, 0, 0.6);
  border-radius: 12px;
}

input:focus {
  outline: none;
}

.buttons-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  margin-top: 5%;
}

button {
  background-color: #fff;
  min-height: 60px;
  min-width: 60px;
  font-size: 1.1em;
  border: none;
  padding: 20px;
  border-radius: 50%;
  transition: 0.3s;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.295);
}

button:hover {
  border-radius: 20px;
  cursor: pointer;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.653);
}

.operador {
  background-color: #ff9f31;
}

.operador:hover {
  background-color: #ff8800;
}

.calcular {
  border-radius: 20px;
  grid-column: span 2;
}

.calcular:hover {
  border-radius: 10px;
}

.clear {
  background-color: #ff7d7d;
}

.clear:hover {
  background-color: #ff6060;

}